<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815393923417-ouv2n3mjr7ib8bn1vqcagfen7vpbpbec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815393923417-ouv2n3mjr7ib8bn1vqcagfen7vpbpbec</string>
	<key>API_KEY</key>
	<string>AIzaSyDLfPIkluUCMEgEnlx1e8eXqvg-ZcyRWhc</string>
	<key>GCM_SENDER_ID</key>
	<string>815393923417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Myown.FilmsAPP</string>
	<key>PROJECT_ID</key>
	<string>films-5fb5f</string>
	<key>STORAGE_BUCKET</key>
	<string>films-5fb5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815393923417:ios:b60d8bc32fb1f386c92c48</string>
</dict>
</plist>